@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Bebas', sans-serif;
	src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato', sans-serif;
	src: url(../fonts/Lato-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster', sans-serif;
	src: url(../fonts/Lobster-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
p.resault {
	font-family: 'Bebas', sans-serif;
}